<footer class="footer">
  <a class="footer__button" href="#hero"
    ><img
      class="footer__button--image"
      src="./assets/images/ico-arrow.svg"
      alt="scroll button up"
      titile="scroll button up"
  /></a>
  <div class="centralcolumn footer__container">
    <nav class="footer__nav">
      <ul class="footer__nav--in">
        <li>
          <a
            class="items"
            href="https://adalab.es/"
            target="_blank"
            title="articles"
            >Articles</a
          >
        </li>
        <li>
          <a
            class="items"
            href="https://adalab.es/"
            target="_blank"
            title="books"
            >Books</a
          >
        </li>
        <li>
          <a
            class="items"
            href="https://adalab.es/"
            target="_blank"
            title="events"
            >Events</a
          >
        </li>
        <li>
          <a
            class="items"
            href="https://adalab.es/"
            target="_blank"
            title="reasons"
            >Reasons</a
          >
        </li>
        <li>
          <a
            class="items"
            href="https://adalab.es/"
            target="_blank"
            title="tips"
            >Tips</a
          >
        </li>
      </ul>
      <ul class="footer__nav--out">
        <li>
          <a
            class="items"
            href="https://adalab.es/"
            target="_blank"
            title="twitter"
            >Twitter</a
          >
        </li>
        <li>
          <a
            class="items"
            href="https://adalab.es/"
            target="_blank"
            title="instagram"
            >Instagram</a
          >
        </li>
        <li>
          <a
            class="items"
            href="https://adalab.es/"
            target="_blank"
            title="matodon"
            >Mastodon.social</a
          >
        </li>
      </ul>
    </nav>
    <div class="footer__small">
      <small class="footer__small--copy"> &copy;2021 </small>
      <small class="footer__small--close"
        >we <span class="heart">&#10084;</span>
        <span class="components">components</span></small
      >
    </div>
  </div>
</footer>
