<footer class="section__footer">
  <a class="centralcolumn footer__button" href="#hero"
    ><img
      class="footer__button--image"
      src="./assets/images/ico-arrow.svg"
      alt="scroll button up"
      titile="scroll button up"
  /></a>
  <div class="centralcolumn footer__container">
    <nav class="footer__container--nav">
      <ul class="nav__in">
        <li><a class="items" href="">Articles</a></li>
        <li><a class="items" href="">Books</a></li>
        <li><a class="items" href="">Events</a></li>
        <li><a class="items" href="">Reasons</a></li>
        <li><a class="items" href="">Tips</a></li>
      </ul>
      <ul class="nav__out">
        <li><a class="items" href="">Twitter</a></li>
        <li><a class="items" href="">Instagram</a></li>
        <li><a class="items" href="">Mastodon.social</a></li>
      </ul>
    </nav>
    <div class="footer__container--small">
      <small class="small__items"> &copy;2021 </small>
      <small class="small__items"
        >we <span class="heart">&#10084;</span> components</small
      >
    </div>
  </div>
</footer>
