<section id="hero" class="hero">
  <h1 class="hero__title">
    <span class="centralcolumn hero__title--span">Anonymous</span>
    <span class="centralcolumn hero__title--span">proxy</span>
  </h1>
  <span class="hero__claim">In hac habitasse platea dictumst.</span>
  <a class="hero__button" href="#reasons" title="hero button"
    ><img
      class="hero__button--image"
      src="./assets/images/ico-scroll-down.svg"
      title="reasons link button"
      alt="reasons section"
  /></a>
</section>
