<section class="section__looking">
  <div class="centralcolumn looking__container">
    <h3 class="looking__container--insomnia">Insomnia tips</h3>
    <h2 class="looking__container--title">Looking through a window</h2>
    <p class="looking__container--paragraph">
      Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
      luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
    <a
      class="looking__container--link"
      href="https://adalab.es/"
      title="Go adalab"
      >Go</a
    >
  </div>
</section>
