<section id="reasons" class="section__reasons">
  <h2 class="section__reasons--title">3 Reasons to purchase</h2>
  <div class="centralcolumn reasons__container">
    <div class="reasons__container--card">
      <h3 class="reasons__container--title">Ut sed metus</h3>
      <p class="reasons__container--paragraph">
        Lorem ipsum dolor sit amet consectetur.
      </p>
    </div>
    <div class="reasons__container--card">
      <h3 class="reasons__container--title">Curabitur ac erat</h3>
      <p class="reasons__container--paragraph">
        Mauris mattis urna quis lorem molestie.
      </p>
    </div>
    <div class="reasons__container--card">
      <h3 class="reasons__container--title">Morbi dictum</h3>
      <p class="reasons__container--paragraph">
        Aliquam in dolor et dolor tincidunt.
      </p>
    </div>
  </div>
  <a
    class="section__reasons--link"
    href="https://adalab.es/"
    title="more reasons to adalab"
    >More reasons</a
  >
</section>
