//fonts
$font-titles: "Roboto Slab", serif;
$font-text: "Roboto", sans-serif;

//color
$color-menu: #0271bc;
$color-title: white;
$color-insomnia: lighblue;
$color-button: #f26002;
$color-background-main: #eff9ff;
$color-background-footer: #304268;
