.section__footer {
  box-sizing: border-box;
  background-color: $color-background-footer;
  height: 465px;

  @include tablet {
    height: 240px;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  color: white;
  margin-top: 15px;
  @include tablet() {
    flex-direction: row-reverse;
    align-items: flex-start;
  }
  @include desktop {
    margin: 0 370px;
  }
  &--nav {
    @include tablet() {
      flex-grow: 2;
      display: flex;
      margin-left: 30px;
      align-items: flex-start;
      justify-content: space-between;
      text-align: left;
    }
  }
  &--small {
    /*     margin-bottom: 45px; */
    @include tablet() {
      flex-grow: 1;
      text-align: left;
    }
  }
}

.nav__out {
  margin: 30px 0;
  @include tablet {
    margin: 0 0 0 30px;
  }
}
.items {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  @include typo_basics;
  font-size: 16px;
  line-height: 1.88;
}

.small__items {
  display: block;
  font-size: 14px;
  line-height: 2.14;
}

.heart {
  color: $color-button;
}

.footer__button {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  transform: translate(0, -50%);

  border-radius: 22.5px;
  background-color: $color-title;

  &--image {
    height: 24px;
    width: 20.6px;
  }
}
